.forms {
    background-color:#f1e2e2;
    border: 1px black solid;
    border-radius: 20px;
    padding: 30pt;
    font-size: 20pt; 
    color: 	#bc4304; 
    text-align: left;
    font-weight: bold;
}

.initial {
    background-color:#f1e2e2;
    border: 1px black solid;
    border-radius: 20px;
    margin-top: 30px;
    padding: 20pt 20pt 20cm;
}

.label {
    margin-left: 10px;
}

.input{ 
    border-radius: 25px;
    padding: 10px;
    width: 96%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.inputAbstract{ 
    border-radius: 25px;
    padding: 10px 10px 90px;
    width: 96%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.image {
    padding-top: 1cm;
    padding-bottom: 1cm;

}

.uploadImage {
    width: 3cm;
    font-size: 10pt;
    height: 1cm;
    background-color: #874d4d;
    margin-left: 0;
}

.inputProblem {
    border-radius: 25px;
    padding: 10px 10px 300px;
    width: 96%;
    margin-bottom: 20px;
    margin-top: 20px;
}

button {
    display: block;
    margin-left: auto;
    margin-right: 30px;
    border-radius: 25px;
    height: 1cm;
    width: 4cm;
}





