
.form-control {
    font-family: "Arial Rounded MT Bold";
    font-size: 20pt;
    margin-bottom: 20px;
    position: relative;
    padding: 5px;

}

button {
    background: blue;
    color: white;
    width: 100%;
    font-size: 30pt;
    padding: 2px;

}

button:hover {
    background-color: green;
    transform: translateY(-2px);
}