


button {
    background: blue;
    color: white;
    font-size: 20pt;
    padding: 2px;
    width: 8cm;
    height: 2cm;
}

button:hover {
    background-color: green;
    transform: translateY(-2px);

}