/*positions this to be on the bottom*/

.footer {
    background: lightblue;
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0cm;
    height: 3cm;
    align-items: center;
    font-size: 20pt;
}

a {
    text-decoration: none;
    color: black;
}

.footer-left {
    position: fixed;
    left: 0.5cm;
    padding-left: 2cm;
}

.footer-right {
    position: fixed;
    right: 0.5cm;
    padding-right: 2cm;
}

.icons {
     padding: 0.3cm;
}